* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* overflow */
p {
  width: 3rem;
  height: 3rem;
  background-color: lightcoral;
  overflow: scroll;
  /* white-space: normal;
  overflow-wrap: normal; */
}
/* %100 of the parent */
.main {
  width: 75vw;
  height: 50vh;
  background-color: lightskyblue;
}
.box {
  background-color: lime;
  width: 50%;
  height: 100%;
}

/* PLs use more header footer */

/* img vs background-image */
/* https://blog.px-lab.com/html-img-tag-vs-css-background-image/ */

/* clip-path */
/* https://bennettfeely.com/clippy/ */

/* SVG */
/* https://developer.mozilla.org/en-US/docs/Web/SVG */
