* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 250px 3rem 1fr; */
  grid-template-rows: repeat(5, 5rem);
  height: 100vh;
  grid-template-areas:
    "box1 box2 box3 "
    "box1 box2 box3 "
    "box4 box2 box5 "
    "box6 . box5"; /*ifyouneedanemptyplaceypujustreplaceitwith.(dot)*/
  row-gap: 2rem;
  column-gap: 3rem;
  /* grid-row-gap: 3rem */
}

.box1 {
  background-color: green;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2; */
  grid-area: box1;
}
.box2 {
  background-color: pink;
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-area: box2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3 {
  background-image: url(../img/visual.jpg);
  background-size: cover;
  grid-area: box3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4 {
  background-color: orange;
  grid-area: box4;
}
.box5 {
  background-color: gray;
  grid-area: box5;
}
.box6 {
  background-color: blue;
  grid-area: box6;
}
