/*  Why? */
/* Twitter Bootstrap */
/* What is it?  */
/* Twitter made it easy fix for us. more mobile first Focused and web app */
/* Is there ary other options? */
/* Foundation, Pure, Bulma and many more almost 20 or so */
/* What is better to use? */

/* How to use it? */
div {
  border: 3px solid black;
}
