/*font link*/
@font-face {
  font-family: "Josefins Sans";
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf);

  /*font-family*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: blanchedalmond;
}

h1 {
  font-family: "Josefin Sans";
}

div {
  font: size 20em;
}

/*font-style*/
p {
  font-style: italic;
  font-size: 2rem;
  font-weight: lighter;
  /* font: italic 2rem "Josefin Sans";  use this  to combined font-style, font-size, font-weight, font-family in one line*/
  font-variant: normal;
  line-height: 2em;
  text-align: justify;
}

/* relative parent for em


root element for rem 

*/
